<ul class="faceted__facet__filter list-unstyled">
  <% facet.values.each do |value| %>
    <%
    identifier = value.send facet.find_by
    selected = facet.selected? identifier
    results_count = facet.results_with(identifier).count
    display_value = facet.display_method.call(value)
    next if results_count.zero?
    %>
    <li class="faceted__facet__filter__value<%= '--selected' if selected %>">
      <%= link_to "#{display_value} (#{results_count})", facet.facets.path_for(facet, identifier) %>
    </li>
  <% end %>
</ul>
