<div class="faceted__facet__full_tree">
  <ol class="faceted__facet__full_tree__values list-unstyled ">
    <%= render 'faceted_search/facets/full_tree/values', values: facet.values, facet: facet %>
  </ol>
</div>
