<% if facet.values.any? %>
  <li>
    <% unless facet.title.blank? %><b><%= facet.title %></b><% end %>
    <div class="static-nestable-list">
      <div class="dd">
        <ol class="faceted__facet__full_tree list-unstyled dd-list">
          <%= render 'faceted_search/facets/full_tree/values', values: facet.values_with_parent(nil), facet: facet %>
        </ol>
      </div>
    </div>
  </li>
<% end %>