<ul class="faceted__facet__filter list-unstyled">
  <% facet.values.each do |value| %>
    <%
    identifier = value.send facet.find_by
    display_value = facet.display_method.call(value)
    %>
    <li class="faceted__facet__filter__value<%= '--selected' if facet.value_selected?(identifier) %>">
      <%= link_to display_value, facet.facets.path_for(facet, identifier) + anchor %>
    </li>
  <% end %>
</ul>
