<% values.each do |value| %>
  <%
  display_value = facet.display_method.call(value)
  identifier = value.send facet.find_by
  path = facet.facets.path_for(facet, identifier)
  %>
  <li class="faceted__facet__full_tree__value<%= '--selected' if facet.value_selected?(identifier) %> dd-item <%= 'dd-item--selected' if facet.value_selected?(identifier) %>">
    <%= link_to display_value, path, rel: facet.searchable ? '' : 'nofollow' %>
    <% child_values = facet.values_with_parent(value.id) %>
    <% if child_values.any? %>
      <ol class="dd-list">
        <%= render 'faceted_search/facets/full_tree/values', values: child_values, facet: facet %>
      </ol>
    <% end %>
  </li>
<% end %>
