<%
anchor ||= ''
reset ||= 'Reset'
%>

<% if facets.has_params? %>
  <ul class="faceted__facets-selected list-inline">
    <% facets.list.each do |facet| %>
      <%
      next if facet.path_pattern?
      partial = "#{facet.kind.underscore}/selected"
      %>
      <%= render partial, facet: facet %>
    <% end %>
  </ul>
<% end %>

<ul class="faceted__facets list-unstyled">
  <% facets.list.each do |facet| %>
    <% partial = "#{facet.kind.underscore}/all" %>
    <%= render partial, facet: facet, anchor: anchor %>
  <% end %>
  <li class="faceted__facet__reinit">
    <a href="<%= facets.path %>" rel="nofollow">
      <i class="fas fa-ban"></i>
      <%= reset %>
    </a>
  </li>
</ul>
