<%
anchor ||= ''
%>
<ul class="faceted__facets list-unstyled">
  <% facets.list.each do |facet| %>
    <li>
      <% unless facet.title.blank? %>
        <b><%= facet.title %></b>
      <% end %>
      <%= render facet.kind.underscore, facet: facet, anchor: anchor %>
    </li>
  <% end %>
  <li class="faceted__facet__reinit"><a href="<%= facets.path%>"><i class="fas fa-backspace"></i></a></li>
</ul>
