<%
anchor ||= ''
reset ||= 'Reset'
%>
<ul class="faceted__facets list-unstyled">
  <% facets.list.each do |facet| %>
    <%= render facet.kind.underscore, facet: facet, anchor: anchor %>
  <% end %>
  <li class="faceted__facet__reinit">
    <a href="<%= facets.path%>">
      <i class="fas fa-ban"></i>
      <%= reset %>
    </a>
  </li>
</ul>
