<% if facet.values.any? %>
  <li>
    <% unless facet.title.blank? %><b><%= facet.title %></b><% end %>
    <div class="faceted__facet__tree<% if facet.selected_object %> faceted__facet__tree--selected<% end %>">
      <% if facet.selected_object %>
        <%
        display_value = facet.display_method.call(facet.selected_object)
        identifier = facet.selected_object.send facet.find_by
        path = facet.facets.path_for(facet, identifier)
        %>
        <div class="faceted__facet__tree__back">
          <%= link_to path, rel: 'nofollow' do %>
            <i class="fas fa-arrow-left"></i> <%= display_value %>
          <% end %>
        </div>
      <% end %>

      <ol class="faceted__facet__tree__values list-unstyled ">
        <% facet.values.each do |value| %>
          <%
          display_value = facet.display_method.call(value)
          identifier = value.send facet.find_by
          path = facet.facets.path_for(facet, identifier)
          %>
          <li class="faceted__facet__tree__value">
            <%= render 'faceted_search/link',
                       display_value: display_value,
                       path: path,
                       searchable: facet.searchable %>
          </li>
        <% end %>
      </ol>
    </div>
  </li>
<% end %>
